<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<title>Ask Snoo</title>
</head>
<body>
{% autoescape true %}
	<div class="jumbotron">
	<h3>Ask Snoo</h3>
	<form action="query" method="post">
		<label>Freebase query:<input name="query" type="text"></input></label>
		<input type="submit" value="search"></input>	
	</form>
	<form action="nlp" method="post">
		<label>Sentence:<input name="sentence" type="text"></input></label>
		<input type="submit" value="search"></input>
	</form>
	<form action="valid" method="post">
		<label>Validate:<input name="query" type="text"></input></label>
		<input type="submit" value="search"></input>
	</form>
	<a href="/reddit">Let's Reddit!</a> 
	</div>
{% endautoescape %}
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>
