<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<title>Ask Snoo</title>
</head>
<body>
{% autoescape true %}
<div class="jumbotron">
	<h3>Sentence</h3>
	<p>{{sentence}}</p>
	<h3>Noun Phrase</h3>
	<p>{% for phrase in phrases %} {{phrase}}, {% endfor %}</p>
</div>
{% endautoescape %}
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>
