<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<title>Ask Snoo</title>
</head>
<body>
{% autoescape true %}
	<h3>Result</h3>
	<p>{{topic}}</p>
	<h3>Topic Id</h3>
	<p>{{topic_id}}</p>
	<h3>Info</h3>
	<p>{{info}}</p>
	<h4>Summary</h4>
	<p>{{brief}}<p>
{% endautoescape %}
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>
