<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<title>Ask Snoo</title>
</head>
<body>
{% autoescape true %}
	<h3>Result</h3>
	<p>{{topic}}</p>
	<h3>Score</h3>
	<p>{{score}}<p>
{% endautoescape %}
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>
